.contactPageContent {
    background-color: black;
    color: green;
    font-family: KlaptArabic;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    
    textarea {
    background-color: black;
    border-color: green;
    color: green;
    font-family: KlaptArabic;
    font-weight: bolder;
}

    input {
        font-family: KlaptArabic;
        font-weight: bolder;
        text-align: center;
        background-color: black;
        color: green;
        border-color: green;  
        margin-bottom: 1em; 

    }

    input:invalid {
        color:red !important;
    }

    .formWord {
        position: relative;
        width: 100%;
        justify-content: center;   
    }
}

// .formWord {
//     position: relative;
//     width: 100%;
//     justify-content: center;   
// }

