@font-face {
    font-family: "KlaptArabic";
    src: url(C:\Users\GeorgeAlexandru\Desktop\React_app_for_Netlify_test\my-react-app2\KlaptArabic\KlaptArabic-Light.ttf) format('sans');
}

.Footer-main-container {
    display: flex;
    position: relative;
    width: 90%;
    left: 5%;
    position: relative;
}

.Footer-main-list {
    font-family: Audiowide; 
    display: flex;
    list-style-type: none;
    color: gray;
    font-size: 20px;
    align-items: left;
    justify-content: center;
}

