@font-face {
    font-family: Audiowide;
    src: url("../Fonts/Audiowide-Regular.ttf");
}

.Footer-main-container {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 95%;
    left: 5%;
    opacity: 1;
}

.Footer-main-list {
    font-family: Audiowide;
    display: flex;
    list-style-type: none;
    color: gray;
    font-size: 1.5vw;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

