@font-face {
    font-family: Audiowide;
    src: url("../Fonts/Audiowide-Regular.ttf");
}

.Footer-main-container {
    
    //flex: 1;
    max-height: 100px;
}

.Footer-main-list {
    font-family: Audiowide;
    display: flex;
    list-style-type: none;
    color: gray;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0%;
    
}


