@font-face {
    font-family: KlaptArabic;
    src: url("../Fonts/KlaptArabic-Light.ttf");
}

body {
    background-color: rgb(0, 0, 0);
    color: gray;   
}

.Header-main-container { 
background-color: rgb(0, 0, 0);
display: flex;
width: 90%;
left: 5%;
position: relative;
}
.Header-main-list {
    justify-content: space-evenly;
    //font-family: Audiowave; 
    font-family: KlaptArabic;
    color: gray;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.Header-child-list-link {
    cursor: pointer;
}

.Header-child-list-link:link {
    color:green;   
    text-decoration: none;
}

.Header-child-list-link:visited {
    color:green;
    font-weight: bolder;
    text-decoration: none;
}

.Header-child-list-link:active {
    color:green;
    font-weight: bolder;
    text-decoration: none;
}

.Header-child-list-link:hover {
    color:green;
    font-weight: bolder;
    text-decoration: none;
}

.Header-child-list-link:focus {
    color:green;
    font-weight: bolder;
    text-decoration: none;
    text-shadow: 1px 1px green;
}


// .Logo {
//     cursor: pointer; 
// }