.homePageContent {
    color: gray;
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: KlaptArabic;
    text-align: center;
    font-size: 2vw;
    vertical-align: middle;
}